@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
:host  form {
  margin: 0 auto;
  width: 60%;
  padding-top: 1%;
  padding-bottom: 2%; }

:host  form h1 {
  margin-top: 1%; }

:host  paper-material {
  width: 40%;
  background: white;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center; }

:host  paper-material img {
  width: 100%; }

:host  form paper-button {
  margin-top: 9%;
  margin-bottom: 5%;
  width: 100%; }

:host  paper-checkbox {
  float: left;
  margin-top: 4%; }

:host  paper-button.google-auth {
  display: block;
  background: #4285f4;
  margin: 0 auto;
  margin-bottom: 3%;
  color: white;
  text-align: center;
  width: 100%;
  border-radius: 1px;
  border: #4285f4 solid 1px;
  box-shadow: 1px 1px 5px 0 #b7b7b7;
  white-space: nowrap;
  font-family: "Roboto", sans-serif;
  padding: 0 5px 0 0; }

:host  paper-button.google-auth:hover {
  cursor: pointer; }

:host  paper-button.google-auth span.google-icon {
  background-image: url("/images/g-logo.png");
  background-color: white;
  background-size: 18px;
  background-repeat: no-repeat;
  background-position: 50%;
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px;
  color: #4285f4;
  border-radius: 1px; }

:host  paper-button.google-auth span.google-text {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 500;
  margin-left: 16px; }
